<a href="https://colab.research.google.com/github/Tina-223/DBscan/blob/main/test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd

df = pd.read_csv('all_drinks.csv')

df = df.drop(['strCategory','dateModified','strDrinkThumb', 'strGlass', 'strIBA', 'strInstructions', 'strMeasure1', 'strMeasure2', 'strMeasure3', 'strMeasure4', 'strMeasure5', 'strMeasure6', 'strMeasure7', 'strMeasure8',
                          'strMeasure9', 'strMeasure10', 'strMeasure11', 'strMeasure12', 'strMeasure13', 'strMeasure14', 'strMeasure15', 'strVideo', 'strIngredient13', 'strIngredient14', 'strIngredient15'], axis=1)
df.head()

,Unnamed: 0,strDrink,idDrink,strAlcoholic,strIngredient1,strIngredient10,strIngredient11,strIngredient12,strIngredient2,strIngredient3,strIngredient4,strIngredient5,strIngredient6,strIngredient7,strIngredient8,strIngredient9
0,0,'57 Chevy with a White License Plate,14029,Alcoholic,Creme de Cacao,NaN,NaN,NaN,Vodka,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1-900-FUK-MEUP,15395,Alcoholic,Absolut Kurant,NaN,NaN,NaN,Grand Marnier,Chambord raspberry liqueur,Midori melon liqueur,Malibu rum,Amaretto,Cranberry juice,Pineapple juice,NaN
2,2,110 in the shade,15423,Alcoholic,Lager,NaN,NaN,NaN,Tequila,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,151 Florida Bushwacker,14588,Alcoholic,Malibu rum,NaN,NaN,NaN,Light rum,151 proof rum,Dark Creme de Cacao,Cointreau,Milk,Coconut liqueur,Vanilla ice-cream,NaN
4,4,155 Belmont,15346,Alcoholic,Dark rum,NaN,NaN,NaN,Light rum,Vodka,Orange juice,NaN,NaN,NaN,NaN,NaN

In [38]:
alcoholic = {'Alcoholic' : 2, 'Optional alcohol': 1, 'Non alcoholic': 0}
df['strAlcoholic'] = df['strAlcoholic'].map(alcoholic)

df3 = pd.DataFrame(columns = ['final'])

final = []
for row in range(df.shape[0]):
  ingredients = []
  for i in range(1, 13):
    column = 'strIngredient'+ str(i)
    ingr = df.loc[row][column]
    if str(ingr) == '' or str(ingr) == 'nan':
      continue
    elif ingr not in ingredients :
      ingredients.append(str(ingr))
  final.append(ingredients)

df3['final'] = final
df = pd.concat([df, df3], axis=1)
df.head()

,Unnamed: 0,strDrink,idDrink,strAlcoholic,strIngredient1,strIngredient10,strIngredient11,strIngredient12,strIngredient2,strIngredient3,strIngredient4,strIngredient5,strIngredient6,strIngredient7,strIngredient8,strIngredient9,final
0,0,'57 Chevy with a White License Plate,14029,2.0,Creme de Cacao,NaN,NaN,NaN,Vodka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Creme de Cacao, Vodka]"
1,1,1-900-FUK-MEUP,15395,2.0,Absolut Kurant,NaN,NaN,NaN,Grand Marnier,Chambord raspberry liqueur,Midori melon liqueur,Malibu rum,Amaretto,Cranberry juice,Pineapple juice,NaN,"[Absolut Kurant, Grand Marnier, Chambord raspb..."
2,2,110 in the shade,15423,2.0,Lager,NaN,NaN,NaN,Tequila,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Lager, Tequila]"
3,3,151 Florida Bushwacker,14588,2.0,Malibu rum,NaN,NaN,NaN,Light rum,151 proof rum,Dark Creme de Cacao,Cointreau,Milk,Coconut liqueur,Vanilla ice-cream,NaN,"[Malibu rum, Light rum, 151 proof rum, Dark Cr..."
4,4,155 Belmont,15346,2.0,Dark rum,NaN,NaN,NaN,Light rum,Vodka,Orange juice,NaN,NaN,NaN,NaN,NaN,"[Dark rum, Light rum, Vodka, Orange juice]"